.red {
  background: red;
  transition: all .4s ease;
}

.blue {
  background: blue;
  transition: all .4s ease;
}

.green {
  background: green;
  transition: all .4s ease;
}

.yellow {
  background: yellow;
  transition: all .4s ease;
}

.pink {
  background: pink;
  transition: all .4s ease;
}